{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %} MyShop</title>
  </head>
  <body>

    <nav class="navbar navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand text-success" href="{% url 'home' %}">MyShop</a>

        <div class="d-lg-block d-none">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, ipsam.
        </div>
        <a href="{% url 'cart_detail' %}">
          <button class="btn btn-sm btn-outline-success" type="submit"><i class="fa fa-shopping-cart"></i></button>
        </a>
        
        <form class="d-flex">
          <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
        </form>
        
      </div>
    </nav>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler text-danger btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span>All Categories</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
              {% for category in categories %}
                <li class="nav-item">
                  <a class="nav-link active py-lg-0 text-danger" aria-current="page" href="{{ category.get_absolute_url }}">{{ category }}</a>
                </li>
              {% endfor %}
                
            </ul>
          </div>
        </div>
      </nav>




      <div class="container-fluid mt-1">
        {% block breadcrumb %}
        
        {% endblock %}
      </div>
      
      
        
      
      {% block main %}
        
      {% endblock  %}


      <div class="container-fluid">
        <div class="row my-lg-3">
          {% for category in categories %}
              
              {% if category.sub_category.all %}
              <div class="col-lg-3 col-sm-12 mt-3">
                  <div class="card h-100 border-0">
                      <div class="card-header">
                        <h4 class="text-center"><a class="text-decoration-none text-danger" href="{{ category.get_absolute_url }}">{{ category }}</a></h4>
                      </div>
                      <ul class="list-group list-group-flush">
                          {% for sub in category.sub_category.all %}
                              <li class="list-group-item">
                                      <a class="text-decoration-none d-flex justify-content-between" href="{{sub.get_absolute_url}}">
                                          {{sub.name}} 
                                          <span class="badge bg-danger  rounded-pill">{{ sub.products.all.count }}</span>
                                      </a>
                              </li>
                          
                          {% endfor %}
                      
                      </ul>
                    </div>
              </div>
              {% endif %}
     
          {% endfor %}
      </div>

      <div class="row pb-3 fixed-bottom">
          
          <div class="col-lg-3 col-sm-12 mt-3">

          </div>
          
          <div class="col-lg-6 col-sm-12 mt-3">
      
          </div>
          
          <div class="col-lg-3 col-sm-12 mt-3 d-flex justify-content-around">
              <a href="#"><i class="fa fa-facebook text-dark"></i></a>
              <a href="#"><i class="fa fa-instagram text-dark"></i></a>
              <a href="#"><i class="fa fa-twitter text-dark"></i></a>
              <a href="#"><i class="fa fa-telegram text-dark"></i></a>
              <a href="#"><i class="fa fa-linkedin text-dark"></i></a>
          </div>

      </div>

      </div>


        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  

  </body>
</html>